









#network{
    width: 100%;
    height: 750px;
    
}

#cy {
    width: 100%;
    height: 750px;
}



.newlines {
    whitespace: pre-line;
  }

#btn-content{
    text-overflow: ellipsis;
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/assets/images/Preloader_3.gif) center no-repeat #fff;
}

