<head>
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.4/cytoscape.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="background-color:#ffffff">
  <div class="se-pre-con"></div>
  <nav>
	  <div class="nav-wrapper">
		  <a class="brand-logo center" style="color:#fff;font-weight:bold; font-size:150%;">Neurodegeneration Hub</a>
		  <ul class="right">
			  <li><a href="http://localhost:4200/search"><i class="material-icons">search</i></a></li>
      </ul>
      <ul class="left">
			  <li><a style="float:left" *ngIf="!authService.loggedIn()" [routerLink]="['/login']"><i class="material-icons">perm_identity</i></a></li>
			  </ul>
		  </div>
  </nav>

  
  <form method="POST" action="forgot">
    {{msg}}
    <p style="margin-top:200px">
   <b>Email Address: </b><input type="email" name="email" ><br>
    <input type="submit" width="50" value="Submit">
    </p>
    </form>

</body>
